body {
  padding-top: 60px;
  min-height: 100%;
}

nav h1 {
  margin: 0;
}

button.navbar-toggle {
  border-color: #ccc;
}

button.navbar-toggle .icon-bar {
  background-color: #333;
}

#navbar .active a, #navbar .active a:hover, #navbar .active a:focus {
  color: #fff;
  background-color: #37b;
}

#nav-bookmark {
  margin-bottom: 5px;
}

#nav-bookmark i {
  font-size: 14pt;
}

form.filter-form h2 {
  font-size: 12pt;
  margin: 2px 2px 2px 0px;
  font-weight: bold;
}

ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

ul.select2-results__options,
#select2-choose-bookmarks-container,
form.filter-form .form-group li,
form.filter-form .form-group input,
.bullet-tip,
form.filter-form .form-group a {
  font-size: 7pt;
}

.select2-results__option[aria-selected=true] {
  display: none;
}

.filter-form .form-group select {
  width: 100%;
}

p.notice-unsaved {
  text-align: center;
  color: #bbb;
}

.hide-this {
  display: none;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  width: 100%;
  background-color: #eee;
  text-align: center;
  margin-top: 100px;
}

.footer a,
form.filter-form .form-group a {
  cursor: pointer;
}

.footer a {
  color: #aaa;
}

.footer .selected-user {
  font-weight: bold;
  color: #aae;
}

.bullet-tip {
  position: absolute;
  z-index: 15;
  visibility: hidden;
  background-color: #fff;
  border: 2px solid #37b;
  padding: 5px;
}


