body {
  padding-top: 60px;
}

nav h1 {
  margin: 0;
}

button.navbar-toggle {
  border-color: #ccc;
}

button.navbar-toggle .icon-bar {
  background-color: #333;
}

#navbar .active a, #navbar .active a:hover, #navbar .active a:focus {
  color: #fff;
  background-color: #37b;
}

.recent-changes textarea {
  resize: none;
  height: 400px;
  width: 100%;
}
